<h1><%= title %></h1>
<p>Elmo</p>
<div>
    Elmo likes to eat and Elmo likes to dansu.
</div>
<div>
    <form action="/create" method="post" accept-charset="utf-8">
        <input type="text" name="content" />
    </form>
</div>
